#container-flex {
    display: grid;
    grid-template-columns: 100px 3fr;
    grid-template-rows: 50px 3fr;
}

#allContent {
    display: grid;
    grid-template-rows:50px 50px 2fr ;
    gap: 10px;
}

#rightBar {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 10%;
    padding-left: 10%;
    background-color: aquamarine;
    border-top-left-radius: 10px;
    height: 100vh;
}
#tabBar {
    
}

#onlineStatus {

}

#posts {

}

#bodyContent {
    display: grid;
    grid-template-columns: 70% 50%;
    height: 545px;
}

li {
    list-style: none;
}
#photo0 {
    width: 50%;
}
 